.editor-styles-wrapper h1:not(.wp-block-post-title) {
  color: rgba(var(--kubio-color-6),1);
  font-family: Niramit,Helvetica,Arial,Sans-Serif,serif;
  font-size: 5.5em;
  font-weight: 300;
  line-height: 1.26;
  text-transform: none;
}

.editor-styles-wrapper h2 {
  color: rgba(var(--kubio-color-6),1);
  font-family: Niramit,Helvetica,Arial,Sans-Serif,serif;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.143;
  text-transform: none;
}

.editor-styles-wrapper h3 {
  color: rgba(var(--kubio-color-6),1);
  font-family: Niramit,Helvetica,Arial,Sans-Serif,serif;
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1.25;
  text-transform: none;
}

.editor-styles-wrapper h4 {
  color: rgba(var(--kubio-color-6),1);
  font-family: Niramit,Helvetica,Arial,Sans-Serif,serif;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.4;
  text-transform: none;
}

.editor-styles-wrapper h5 {
  color: rgba(var(--kubio-color-6),1);
  font-family: Niramit,Helvetica,Arial,Sans-Serif,serif;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.4;
  text-transform: none;
}

.editor-styles-wrapper h6 {
  color: rgba(var(--kubio-color-1),1);
  font-family: Niramit,Helvetica,Arial,Sans-Serif,serif;
  font-size: .9em;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.4;
  text-transform: uppercase;
}

.editor-styles-wrapper  {
  color: rgba(var(--kubio-color-6-variant-4),1);
  font-family: Roboto,Helvetica,Arial,Sans-Serif,serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  text-transform: none;
}

@media (min-width:768px) and (max-width:1023px) {
  .editor-styles-wrapper h1:not(.wp-block-post-title) {
    font-size: 5em;
  }
}

@media (max-width:767px) {
  .editor-styles-wrapper h1:not(.wp-block-post-title) {
    font-size: 4em;
    line-height: 1.1;
  }
}
